* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --padding-estable: 20px 30px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100vh;
  background-color: #2c2c2c;
  backdrop-filter: blur(100px);
  font-family: "Courier New", Courier, monospace;
}

.container {
  background: rgba(255, 255, 255, 0.1); /* Blanco con baja opacidad */
  backdrop-filter: blur(15px); /* Más blur = más difuminado */
  border-radius: 20px;
  width: 95%;
  height: 80%;
}

.headerPrincipal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-estable);
  .name {
    font-size: 38px;
  }
  & ul {
    display: flex;
    gap: 20px;
    & li {
      list-style: none;
      & a {
        color: white;
        text-decoration: none;
        transition: color 0.3s;
        font-size: 16px;
      }
      & a:hover {
        color: orangered;
      }
    }
  }
}

main section ul li {
  list-style: none;
}

main section h2 {
  color: orangered;
}

main {
  padding: var(--padding-estable);
  display: flex;
  gap: 20px;
  & section {
    backdrop-filter: blur(30px);
    border-radius: 20px;
    padding: 10px;
    & p {
      font-size: 19px;
    }
  }
}

footer {
  text-align: center;
  font-size: 70px;
}
