* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #222;
}

.header-portfolio {
  display: flex;
  justify-content: center;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
    width: 70%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3); /*Transparencia*/
    backdrop-filter: blur(20px); /*Difuminado*/
    & nav {
      & ul {
        display: flex;
        gap: 20px;
        & li {
          list-style: none;
          a {
            text-decoration: none;
          }
        }
      }
    }
    button {
      padding: 10px;
      border: 1px solid white;
      & a {
        text-decoration: none;
      }
    }
  }
}

main {
  color: white;

  .parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
  }

  .div1 {
    grid-row: span 4 / span 4;
  }

  .div2 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
  }

  .div3 {
    grid-column: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 4;
  }

  .div5 {
    grid-row: span 4 / span 4;
    grid-column-start: 4;
    grid-row-start: 1;
  }
}
